# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/frontendnew/frontend/node_modules
/frontendnew/frontend/package-lock.json
/frontendnew/frontend/yarn.lock
node_modules/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.development
.env.production

# Build output
dist/

# Other
.env.local
.env.development.local
.env.production.local
